.grid-container {
    display: grid;
    grid-template-areas:
    'boven boven'
    'nav main'
    'footer footer';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 400px 100px;
    height: 100vh
}

.header {
    grid-area: boven;
}

.nav {
    grid-area: nav;
    margin-top:250px;
}

.footer {
    grid-area: footer;
}

.main {
    grid-area: main;
    margin: top 250px;px;
}
