.grid-container {
    display: grid;
    grid-template-areas:
    'logo header'
    'nav main'
    'footer footer';
    grid-template-columns: 200px 1000px;
    grid-template-rows: 100px 500px 100px;
    height: 100vh;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
    margin-top:0px;
    font-size:medium;
    text-align: left;
    background-color: hsla(208, 56%, 37%, 0.576);
    border-right: 8px solid #373745;
    border-bottom: 5px solid #373745;

}

.nav ul {
    list-style-type: none;
    padding: 0px;
    padding-left: 12px;
    
}

.footer {
    grid-area: footer;
}

.main {
    grid-area: main;
    font-size:medium;
    background-color: #7B68EE;
    margin: 0px 20px 10px 20px;
    box-shadow: 15px 15px 5px rgb(40, 13, 94);
}

.logo {
    grid-area: logo;
}
    


body{ 

